
a								{ text-decoration: none; outline: none; }
a img							{ border: none; }

h2								{ font-family: Georgia, Serif; font-size: 25px; text-align: center; 
								  font-weight: normal; }

#page-wrap						{ background: white; width: 960px; margin: 0 auto; 
								  padding: 50px 0; }

#slider							{ background-image: url(../images/slider-bg.jpg);
								  background-repeat:no-repeat;
								  height: 227px; overflow: hidden;
								  max-width: 950px;
								  border: 1px solid #dddddd;
								  position: relative; margin: 30px 0; }
								  
                                /* DEFAULT is for three panels in width, adjust as needed
                                   This only matters if JS is OFF, otherwise JS sets this. */								  
#mover							{ width: 2880px; position: relative; }

.slide							{ padding: 40px 30px; width: 900px; float: left; position: relative; }
.slide h1						{ font-family: Helvetica, Sans-Serif; font-size: 20px; letter-spacing: -1px;
								  color: #ac0000; }
.slide p						{ color: #999; font-size: 14px; line-height: 22px; width: 400px; }
.slide img						{ position: absolute; top: 20px; left: 600px;
								  border: 1px solid #dddddd;
								  border-radius: 2px;
								  background-color: white;
								  padding: 2px;
								}
#slider-stopper					{ position: absolute; top: 1px; right: 20px; background: #939393; color: white;
								  padding: 3px 8px; font-size: 10px; text-transform: uppercase; z-index: 1000; }
							
.slider-a {
	color: #000;
	text-decoration: none;
	outline: none;
	
}