{% load thumbnail %}

{% thumbnail image.image size crop="center" as im %}
	{% if not link %}
	<a href="{{image.image.url}}" rel="prettyPhoto">
	{% else %}
	<a href="{{ link }}">
	{% endif %}
    	<img alt="{{image.name}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    </a>
{% empty %}
	{% if not link %}
	<a href="/media/no_image.png" rel="prettyPhoto">
	{% else %}
	<a href="{{ link }}">
	{% endif %}
    	<img alt="no image" src="/media/no_image.png" width="{{ width }}" height="{{ height }}">
    </a>
{% endthumbnail %}
