<div class="paging">
    <ul class="pager">
        {% if page.has_previous %}
            <li class="previous">
                <a href="?page={{ page.previous_page_number }}">previous</a></li>
        {% else %}
            <li class="previous disabled"><a href="#">previous</a></li>
        {% endif %}

        <li>Page {{ page.number }} of {{ page.paginator.num_pages }}.</li>

        {% if page.has_next %}
            <li class="next"><a href="?page={{ page.next_page_number }}">next</a></li>
        {% else %}
            <li class="next disabled"><a href="#">next</a></li>
        {% endif %}
    </ul>
</div>
