{% extends "registration/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="well">
<h1>Log in</h1>
<form method="post" action="?next={{ next|default:"/" }}">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-error">{{ form.non_field_errors }}</div>
    {% endif %}
    {% for field in form %}
        <p>
            {{ field.label_tag }} {{ field }}
            {% if field.errors %}
            <div class="alert alert-error">{{ field.errors }}</div>
            {% endif %}
        </p>
    {% endfor %}
    <p><input class="btn" type="submit" value="Log In" /></p>
</form>
</div>
{% endblock %}

{% block content-related %}
<p>If you don't have an account, you can <a href="/accounts/register/">sign
up</a> for one.</p>


{% endblock %}
