{% extends "registration/base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}
<h1>You've been logged out.</h1>
<p>When you come back, don't forget to <a href="/accounts/login/">log in</a> again.</p>
{% endblock %}