{% extends "registration/base.html" %}
{% block content %}
<div class="well">
    <h1>Registration</h1>
    <form method="post" action="">
    {% csrf_token %}
    	{% if form.non_field_errors %}
        	<div class="alert alert-error">{{ form.non_field_errors }}</div>
        {% endif %}
        <dl class="register">
            {% for field in form %}
                <dt>{{ field.label_tag }}</dt>
                <dd class="clearfix">{{ field }}
                    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
                    {% if field.errors %}
                    <div class="alert alert-error">
                    	<div class="myerrors clearfix">{{ field.errors }}</div>
                    </div>
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
        <input type="submit" value="Register" class="btn">
    </form>
</div>
{% endblock %}

{% block content-related %}
<p>Already registered? <a href="/accounts/login/">log in</a>!</p>
{% endblock %}
