.related {
	min-height: 100px;
}
.date {
    font-size: small;
    color: #a2a2a2;
    font-style: italic;
}

.bordered {
	border: 1px solid #999;
	border-radius: 3px;
	padding: 3px;
}

.tree {
	
}

.tree li {
	margin: 3px;
}

.tree li a {
	color: #999;
}


.preview {
    background-color: #e5e5e5;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
}

.main_articles {
    border-color: #999999;
    border-radius: 3px;
    padding: 5px;
}

.main_articles h1 {
    color: #999999;
    font-weight: 200;
    font-size: 20px;
}

.main_articles a:hover h1 {
    color: #708090;
}

.article {
    height: 320px;
}

.popular_article {
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 4px;
	margin: 10px;
}

.paging {
    margin-right: 30%;
    margin-left: 30%;
}

.message {
    border-radius: 3px;
    background-color: #ffffff;
}

.message p {
    margin: 5px 25px 5px 25px;
}

.message-area {
    width: 500px;
}

.comments {
    border-radius: 3px;
    background-color: #f0f8ff;
    padding: 20px;
    margin-top: 20px;
}

.user {
    color: #6495ed;
    font-weight: bold;
    font-size: 16px;
}



textarea {
    width: 99%;
    min-width: 300px;
    max-height:100px;
    padding:5px;
}


.edit_profile {
	font-weight: normal;
	font-size: 20px;
	margin-left: 30px;
}


.image_carousel {
	padding: 15px 0 0px 40px;
	position: relative;
	background-color: #f9f7f7;
}
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 5px;
	margin: 7px;
	display: block;
	float: left;
}
a.prev, a.next {
	background: url(../img/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -22px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.prev.disabled {	background-position: 0 -100px !important;  }
a.next {			right: -22px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }
a.next.disabled {	background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(../img/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}


ul.commentsul {
    margin-left: 30px;
}