{% extends 'base.html' %}
{% load news_tags %}

{% block nav-tabs %} {% endblock %}

{% block content %}

        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                	{% image result.object.get_main_image size="130x90" link=result.object.get_absolute_url%}
                	{{ result.object.publication_date }}
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
{% endblock %}