{% load mptt_tags %}
{% load comments_tags %}

<ul id="comments"class="commentsul unstyled">
    {% recursetree com_list %}
        {% with node=node article_id=article_id%}{% include "comments_app/render_comment.html"%}{% endwith %}
        {# recursion! children of a given comment #}
        {% if not node.is_leaf_node %}
            <ul class="unstyled commentsul ">{{ children }}</ul>
        {% endif %}
        </li>
    {% endrecursetree %}
    <div><button class="btn reply-btn" id="b{{ node.pk }}">Comment</button></div>
    {% comment_form user.id article_id %}
</ul>


