<li class ="li_comment" id="c{{ node.pk }}">
    <div class='well well-small'>
        <div class='row-fluid'>
            <div class='span4 user'><a href ="/profiles/{{ node.author }}">{{ node.author }}</a></div>
            <div class='date'>{{ node.added|date:'M d Y H:i:s' }} </div>
        </div>
        <div class='row-fluid message'>
            <p>{{ node.text }}</p>
            <button class="btn reply-btn pull-right" id="b{{ node.pk }}">Reply</button>
        </div>
    </div>