{% extends "base.html" %}

{% load news_tags %}
{% load mptt_tags %}

{% block extrahead %}
    {{ block.super }}
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="{{STATIC_URL}}carouFredSel-6.1.0/jquery.carouFredSel.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/comments.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/gallery.js"></script>
    <meta name="description" content="{{ metatags.description }}">
    <meta name="keywords" content="{{ metatags.keywords }}">
{% endblock %}

{% block title %}
{{ article.title }}
{% endblock %}
{% block nav-tabs %} {% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
		    <ul class="breadcrumb">
		    {% for i in breadcrumb %}
		    	<li><a href="{% url category i.slug %}">{{ i.name }}</a> <span class="divider">/</span></li>
		    {% endfor %}
    			<li class="active">{{ article.title }}</li>
    		</ul>
    		<div class="page-header">
				<h2>{{ article.title }}</h2>
			</div>

            {% image article.get_main_image size="x200" %}

            <div class="date">
                <p>Published by {{ article.publication_date }}</p>
                <p>Read {{ article.visits_count }} times</p>
            </div>
			<p>
				{% autoescape off %}
                    <div class="preview" >{{ article.preview }}</div>
                    {% if not user.is_authenticated and article.visibility %}
                    	    <div class="alert alert-block">
                    			Please <a href="/accounts/login">log in</a> if you want to read text.
    						</div>
                    {% else %}
						{{ article.text }}
					{% endif %}
				{% endautoescape %}
			</p>
			
			<div class="image_carousel">
				<div id="gallery">
					{% for im in gallery %}
						{% image im size="x100" %}
					{% endfor %}
				</div>
				<div class="clearfix"></div>
	    		<a class="prev" id="gallery_prev" href="#"><span>prev</span></a>
	    		<a class="next" id="gallery_next" href="#"><span>next</span></a>
		    	<div class="pagination" id="gallery_pag"></div>
			</div>
			

            <h2>Comments</h2>
            {% if user.is_authenticated %}
                {% with article_id=article.id com_list=comments %}{% include "comments_app/_comments.html"%}{% endwith %}

            {% else %}
            <div class="alert alert-block">
                <p>Please <a href="/accounts/login">log in</a> if you want to leave a comment or to watch other ones.</p>
            </div>
            {% endif %}


			<hr class="bs-docs-separator"/>
		</div>
		<div class="span4">
			{% if related %}
			<blockquote class="related">
				<h5>Related articles</h5>
				<hr class="bs-docs-separator"/>
                {% for r in related %}
                    {% image r.get_main_image size="x50" %}
                    <a href="{% url article r.slug %}">{{ r.title }}</a><br/><br/>
                {% endfor %}
            </blockquote><br/>
            {% endif %}

			{% if similar %}
            <blockquote class="related">
                <h5>Similar articles</h5>
                <hr class="bs-docs-separator"/>
                {% for r in similar %}
                    {% image r.get_main_image size="x50" %}
                    <a href="{% url article r.slug %}">{{ r.title }}</a><br/><br/>
                {% endfor %}
            </blockquote>
            {% endif %}
            {% if tags %}
             <blockquote class="related">
                <h5>Tags</h5>
                <hr class="bs-docs-separator"/>
                {% for t in tags %}
                    <a href="{% url tag t.name %}">{{ t.name }}</a><br/><br/>
                {% endfor %}
            </blockquote>
            {% endif %}
            
		</div>
	</div>
</div>
{% endblock %}

