{% load news_tags %}
{% load cache %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	{% load mptt_tags %}
{% block extrahead %}
	<link type="text/css" rel="stylesheet" media="all" href="{{STATIC_URL}}/css/bootstrap.css"/>
	<link type="text/css" rel="stylesheet" media="all" href="{{STATIC_URL}}/css/bootstrap-responsive.css"/>
	<link type="text/css" rel="stylesheet" media="all" href="{{STATIC_URL}}/css/main.css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	
	<link rel="stylesheet" href="{{STATIC_URL}}prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
	<script src="{{STATIC_URL}}prettyPhoto/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/pretty.js"></script>
	
	
{% endblock %}
</head>
<body>
	{% include 'nav.html' %}
	<div class="container-fluid">
		<div class="row-fluid">

            {% cache 600 category_tree %}
			<div class="span2">
			<div class="bordered">
			{% full_tree_for_model defaultapp.Category as categories %}
			{% for cat,structure in	categories|tree_info %}
				{% if structure.new_level %}<ul class="nav nav-list tree"><li>
				{% else %}</li><li>
				{% endif %}
        		<a href="{% url category cat.slug %}">{{ cat.name|upper }}</a>
        		{% for level in structure.closed_levels %}</li></ul>{% endfor %}
			{% endfor %}
			</div>
			</div>

            {% endcache %}

			<div class="span10">
                {% block nav-tabs %}
                    <ul class="nav nav-tabs">
                        <li class="{% active_if_section "new-in-categories" %}">
                         <a href="/">New in categories</a>
                        </li>
                        <li class="{% active_if_section "by-date" %}">
                            <a href="/latest/">By date</a>
                        </li>
                        <li class="{% active_if_section "most-popular" %}">
                            <a href="/popular/">Most popular on this week</a>
                        </li>
                    </ul>
                {% endblock %}

                {% block content %} {% endblock %}
		{% block content-related %} {% endblock %}
			</div>

                    
		</div>
	</div>


</body>
</html>
