{% extends "base.html" %}

{% load news_tags %}

{% block title %} latest news {% endblock %}

{% block nav-tabs %}
    {% with "by-date" as current_section %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

    <table class="table table-hover">
    	<thead>
    		<th>Publication date</th>
    		<th>Title</th>
    		<th>Preview</th>
    		<th>Category</th>
    	</thead>
    	<tbody>
        {% for n in articles %}
            <tr>
                <td><div class="date">{{ n.publication_date }}</div></td>
                <td><a href="{% url article n.slug %}">{{ n.title|upper|safe }}</a></td>
                <td>{{ n.preview|striptags|truncatechars:70|safe }}</td>
                <td>{{ n.category__name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginator articles %}

{% endblock %}



