{% extends "base.html" %}

{% load news_tags %}

{% block title %} VZPM {% endblock %}

{% block nav-tabs %}
    {% with "most-popular" as current_section %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

            {% for n in articles %}
            	<div class="popular_article">
            		<div class="row-fluid">
            			<div class="span2">{% image n.get_main_image size="260x180" link=n.get_absolute_url%}</div>
                    	<div class="span2"><a href="{% url article n.slug %}">{{ n.title|upper|safe }}</a></div>
                    	<div class="span4"><p>{{ n.preview|striptags|truncatewords:30|safe}}</p></div>
                    	<div class="span2">Read {{ n.visits_count }} times</div>
                    	<div class="span2 date">{{ n.publication_date }}</div>
                    </div>
                </div>
            {% endfor %}

        {% paginator articles %}

{% endblock %}
