{% extends "base.html" %}

{% load news_tags %}

{% block extrahead %}
    {{ block.super }}
    <meta name="description" content="{{ metatags.description }}">
    <meta name="keywords" content="{{ metatags.keywords }}">
{% endblock %}

{% block title%} {{ cat.name }} {% endblock %}

{% block content %}
    <h3>{{ cat.name }} NEWS</h3>

    <ul class="breadcrumb">
    {% for i in breadcrumb %}
        <li><a href="{% url category i.slug %}">{{ i.name }}</a> <span class="divider">/</span></li>
    {% endfor %}
    </ul>

    <table class="table">
        {% for article in articles %}
            <tr>
            	<td>{% image article.get_main_image size="260x180" link=article.get_absolute_url%}</td>
                <td>
                	<a href="{% url article article.slug %}">{{ article.title }}</a>
                	{% autoescape off %}
                	<p>{{ article.preview }}</p>
                	{% endautoescape %}
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
