{% extends "base.html" %}

{% load news_tags %}

{% block title%} VZPM {% endblock %}

{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript" src="{{STATIC_URL}}StartStopSlider/js/jquery-1.2.6.pack.js"></script>
	<link type="text/css" rel="stylesheet" media="all" href="{{STATIC_URL}}StartStopSlider/css/style.css"/>
	<script type="text/javascript" src="{{STATIC_URL}}StartStopSlider/js/startstop-slider.js"></script>
	<link rel="stylesheet" href="{{STATIC_URL}}prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
	<script src="{{STATIC_URL}}prettyPhoto/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/pretty.js"></script>
{% endblock %}
{% block nav-tabs %}
    {% with "new-in-categories" as current_section %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    {% for cat in cats %}
        <div class="main_articles">
            <a href="{% url category cat.slug %}"><h1>{{ cat.name|upper }}</h1></a>
            <ul class="thumbnails">
                {% for article in cat.get_last_5_news %}
                    <li class="span3">
                    	<div class="thumbnail article">
                        {% image article.get_main_image size="260x180" link=article.get_absolute_url %}
                        <h6>{{ article.title|upper|safe }}</h6>
                        <p>{{ article.preview|striptags|truncatechars:70|safe }}</p>
                        <a href = "{% url article article.slug %}">Read more</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    
    <div id="slider">
	<div id="mover">
		{% for imp in important %}
		<div id="slide-{{forloop.counter}}" class="slide">
			<a class="slider-a" href="{% url article imp.slug %}"><h4>{{ imp.title|truncatewords:8|upper|safe }}</h4></a>
			<p>{{ imp.preview|striptags|truncatewords:30|safe }}</p>
			{% image imp.get_main_image "260x180"%}
		</div>
		{% endfor %}
	</div>
	</div>

{% endblock %}
