{% load thumbnail %}
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="{% url home %}">VZPM_NEWS</a>
        {% if user.is_authenticated and user.is_staff%}
            <ul class="nav">
                <li><a href="/admin/">Admin</a></li>

            </ul>
        {% endif %}

        <ul class="nav pull-right">
			<li>
				<form class="navbar-form form-search" method="GET" action="/search">
					<div class="input-append">
						<input type="text" name="q" class="span2 search-query">
						<button type="submit" name="ok" class="btn">Search</button>
					</div>
				</form>
			</li>
            {% if user.is_authenticated %}
                <li><a href="#">Hello,{{ user.username }}</a></li>
                <li><a href="/profiles/{{ user.username }}/">Profile</a></li>
                <li><a href="/accounts/logout/">Log out</a></li>
            {% else %}
                <li><a href="/accounts/login/">Log In</a></li>
                <li><a href="/accounts/register/">Register</a></li>
            {% endif %}
            <li><a href="/rss/latest/">
            	<img alt="RSS" src="{{MEDIA_URL}}rss.png" width="20" height="20">
            </a></li>
        </ul>
    </div>
</div>
