{% extends "base.html" %}
{% load news_tags %}

{% block title %} Tag {% endblock %}
{% block nav-tabs %}{% endblock %}

{% block content %}

    <table class="table table-hover">
    	<thead>
    		<th>Publication date</th>
    		<th>Title</th>
    		<th>Preview</th>
    	</thead>
    	<tbody>
        {% for n in articles %}
            <tr>
                <td><div class="date">{{ n.publication_date }}</div></td>
                <td><a href="{% url article n.slug %}">{{ n.title|upper }}</a></td>
                <td>{{ n.preview|striptags|truncatechars:70 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginator articles %}

{% endblock %}



