{% extends "base.html" %}

{% block content %}
<div class="well">
    <h3>Editing profile</h3>
    <form method="post" action="">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-error">{{ form.non_field_errors }}</div>
        {% endif %}
        {% for field in form %}
            <p>
                {{ field.label_tag }} {{ field }}
                {% if field.errors %}
                	    <div class="alert alert-error">{{ field.errors }}</div>
                {% endif %}
            </p>
        {% endfor %}
        <p><input class="btn" type="submit" value="Save profile" /></p>
    </form>
</div>
{% endblock %}
