{% extends "base.html" %}

{% block title %} {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
<div class='well'>
    {% ifequal user profile.user %}
        <p><h3>My profile<a class="edit_profile" href="{% url profiles_edit_profile %}" class="button"> Edit</a></h3></p>

        <p>
            <p><b>Email:</b></p>  
            <i class="icon-envelope"></i>  {{ user.email }}
        </p>

		{% if profile.phone_number %}
        <p>
            <b>Phone number: </b>
            <label id="phone_number">{{ profile.phone_number }}</label>
        </p>
        {% endif %}

    {% else %}
        <p>Profile of {{ profile.user.username }}</p>
    {% endifequal %}

	{% if profile.date_of_birth %}
    <p>
        <b>Date of birth: </b>
        <label>{{ profile.date_of_birth }}</label>
    </p>
    {% endif %}

	{% if profile.career %}
    <p>
        <b>Career: </b>
        <label id="id_career">{{ profile.career }}</label>
    </p>
    {% endif %}
	
	{% if user.first_name %}
    <p>
        <b>First name</b>
        <label id="id_first_name">{{ user.first_name }}</label>
    </p>
    {% endif %}

	{% if user.last_name %}
    <p>
        <b>Last name</b>
        <label id="id_last_name">{{ user.last_name }}</label>
    </p>
    {% endif %}

</div>

{% endblock content %}

